name: Gerar Tipos do Supabase

on:
  workflow_dispatch:

jobs:
  gerar-tipos:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Instalar Supabase CLI (Linux)
        run: |
          # Baixar e instalar o Supabase CLI
          curl -sL https://github.com/supabase/cli/releases/latest/download/supabase-cli-linux-amd64 -o supabase-cli
          chmod +x supabase-cli
          sudo mv supabase-cli /usr/local/bin/supabase
          
          # Verificar a instalação
          supabase --version

      - name: Criar diretório de tipos (caso não exista)
        run: mkdir -p ./integrations/supabase

      - name: Gerar tipos TypeScript do Supabase
        run: supabase gen types typescript --project-id asjntdjqbvylbohmico --schema public > ./integrations/supabase/types.ts
